<div class="container TableSection">
    <div class="is-size-2"><%= title %></div>
    <table class="table RowEditable" data-target="<%= id %>">
        <thead>
        <tr>
            <th>Vendeur</th>
            <th>Ventes</th>
            <th>Total ventes</th>
            <th>Total prime</th>
            <th>Payé</th>
            <th>Total payé</th>
            <th>Somme encore dûe</th>
            <th>Actions</th>
        </tr>
        </thead>
        <tbody>
         <%= rows %>
        </tbody>
    </table>
    <div class="deleteButton button is-danger is-outlined is-small js-delete-entry" data-target="<%= id %>">
        <span>Supprimer</span>
        <span class="icon is-small">
      <i class="fas fa-times"></i>
    </span>
    </div>
</div>
