<tr>
    <td><abbr title="<%= name %>"><%= abbr %></abbr></td>
    <td>
        <div class="field">
            <div class="control">
                <input class="input js-form-table-input" data-target="<%= abbr %>" type="number" placeholder="Valeur">
            </div>
        </div>
    </td>
</tr>